@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MyFont";
  src: url("/fonts/brown-sugar.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Onest";
  src: url("/fonts/Onest-Regular.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  scroll-behavior: smooth;
}

.hero {
  background-image: url("/assets/home-bg-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}