@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  --gray-color: #9ea69f;
  --warm-gray-color: #6e7b70;
  --warm-green-color: #344637;
  --pinkish-gray-color: #6d6761;
  --pinkish-white-color: #e9e3dc;
  font-family: "Libre Bodoni";
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}
body {
  background-color: var(--pinkish-white-color);
}
.home {
  
  background-image: url("../images/pic1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  box-shadow: inset 1rem 0 5rem 0 var(--pinkish-white-color), 0 0 2rem 0 var(--pinkish-white-color);
}
.custom-border-top {
  border-top: 1px solid var(--pinkish-gray-color);

 
}
.customer-border-bottom {
  border-bottom: 1px solid var(--pinkish-white-color);
  width: 100%;

}
.set-text-right {
  text-align: right;
}
.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: calc(100% * 8); 
  overflow: hidden;
}

.highlights-options {
  width: 100%;
  overflow: hidden;
}

.option {
  flex: 1 0 33.33%; 
}

.margin-top-5 {
  margin-top: 2rem;
}