@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  --gray-color: #9ea69f;
  --warm-gray-color: #6e7b70;
  --warm-green-color: #344637;
  --pinkish-gray-color: #6d6761;
  --pinkish-white-color: #e9e3dc;
  font-family: "Libre Bodoni";
}
.home-bg {
  background-image: url("../images/home-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.custom-border-top {
  border-top: 1px solid var(--pinkish-gray-color);
  padding: 2rem;
  margin: 0 2rem;
}
.set-text-right {
  text-align: right;
}
.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: calc(100% * 8); 
  overflow: hidden;
}

.highlights-options {
  width: 100%;
  overflow: hidden;
}

.option {
  flex: 1 0 33.33%; 
}

.margin-top-5 {
  margin-top: 2rem;
}
